.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .top-item__name
        masasaitou
      .top-item__icons
        = link_to "#", class: "contents__btn" do
          = icon('far', 'edit')
        = link_to "#", class: "contents__btn--setting" do
          = icon('fas', 'cog')
  .side-bar__group-list
    .group__block
      .group__name
        techcamp
      .group__message
        まだメッセージがありまへん
    .group__block
      .group__name
        techcamp
      .group__message
        まだメッセージがありまへん
    .group__block
      .group__name
        techcamp
      .group__message
        まだメッセージがありまへん                